.profile_div img{
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 10px;
}

.fontsize{
    font-size: 25px;
}


@media screen and (max-width: 767px) {
    .fontsize{
        font-size: 19px !important;
    }
}

@media screen and (max-width: 952px) {
    .fontsize{
        font-size: 22px;
    }
}